{% extends 'base-novo.html'%}
{% load static %} 
{% block 'titulo'%}
Sobre
{% endblock%}
{% block 'body' %}
    <main>
        <!--? slider Area Start-->
        <section class="slider-area slider-area2">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="bounceIn" data-delay="0.2s">Sobre nos</h1>
                                    <!-- breadcrumb Start-->
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{%url 'principal'%}">Home</a></li>
                                            <li class="breadcrumb-item"><a href="#">Sobre</a></li> 
                                        </ol>
                                    </nav>
                                    <!-- breadcrumb End -->
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </section>

        <!-- top subjects End -->
        <!--? About Area-3 Start -->
        <section class="about-area3 fix">
            <div class="support-wrapper align-items-center">
                <div class="right-content3">
                    <!-- img -->
                    <div class="right-img">
                        <img src="{% static 'assets/img/gallery/about3.png' %}" alt="">
                    </div>
                </div>
                <div class="left-content3">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-20">
                        <div class="front-text">
                            <h2 class="">Quem somos, SS consultoria e treinamentos</h2>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="assets/img/icon/right-icon.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Somos uma empresa especializada em consultoria e treinamentos, pronta para oferecer suporte em diversas áreas e processos. Contamos com uma equipe de especialistas dedicados a ajudar sua empresa a alcançar a excelência. Conheça nossos serviços e descubra como podemos ajudá-lo a atingir os seus objetivos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>
    {% endblock%}