{% extends 'base-novo.html'%}
{% load filtros %}
{% block 'titulo'%}
Aula
{% endblock%}

{% block 'head' %}
{% endblock %}
{% block 'body' %}
<br>
<div style="padding-top: 60px;">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Avalie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'Curso:processa_avaliacao' %}" method="POST" class="form-inline">
            {% csrf_token %}
            <input type="hidden" value="{{ aula.id }}" name="aula_id">

            <div class="form-group mb-2">
              <select name="avaliacao" class="form-control">
                <option value="p">Péssimo</option>
                <option value="r">Ruim</option>
                <option value="re" selected>Regular</option>
                <option value="b">Bom</option>
                <option value="o">Ótimo</option>
              </select>
            </div>

            <div class="form-group mx-sm-3 mb-2">
              <input type="submit" class="btn btn-success" value="Avaliar">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <br>
  {% if not usuario_avaliou %}

  <div class="alert alert-primary" role="alert">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      CLIQUE AQUI!
    </button> para avaliar essa aula
  </div>
{% else %}

{% endif %}

  <br>
  <h1>{{aula.nome}}</h1>
  <hr>
  {% if aula.is_video %}
  <video  width="100%" controls>
      <source src="{{aula.aula.url}}" type="video/mp4">
    </video>
    {% elif aula.is_pdf %}
   
    <div style="height: 600px; width: 100%;">
      <object data="{{ aula.aula.url }}" type="application/pdf" width="100%" height="100%">
          <iframe src="{{ aula.aula.url }}" width="100%" height="100%" style="border: none;">
              Este navegador não suporta PDFs. Por favor, baixe o PDF para visualizá-lo: 
              <a href="{{ aula.aula.url }}">Download PDF</a>.
          </iframe>
      </object>
  </div>
      {% else %}
      <p>Tipo de arquivo desconhecido</p>
      {% endif %}
      <br>
      <div id="progresso-container"></div>
  <hr>

  <h1>Faça seu comentário: </h1>
  <form >
    {% csrf_token %}
    <textarea id="comentario" name="comentario" type="text" placeholder="Comentário..." maxlength="140" class="form-control" rows="3"></textarea>
    <input hidden  name="aula_id" value="{{ aula.id }}" type="text" placeholder="Comentário..." class="form-control">
    <br>
    <button  type="button" value="Enviar" class="btn btn-success btn-lg"
    hx-post="{% url 'Curso:comentar' aula.id %}"
    hx-trigget="click"
    hx-target="#comments-area">Comentar</button>
  </form>
  <div id="comments-area" class="comments-area">
    {% include 'parcial/comentarios_parcial.html' %}
  </div>
  </div>
 
  <div id="avaliacoes" class="text-center">
    
    <div class="restaurant-name">
      <div class="rating">
    {% for i in avaliacoes %}
        {{i.usuario}}

        {% if i.nota == 'p'%}
        <i class="fas fa-star"></i>        
        {% endif %}
  
        {% if i.nota == 'r' %}
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        {% endif %}
        
        {% if i.nota == 're'%}
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        {% endif %}
  
        {% if i.nota == 'b'%}
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        {% endif %}
  
        {% if i.nota == 'o'%}
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        {% endif %}
        <br>

    {% endfor %}
  </div>
</div>

  </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<script>
  // Função para inserir a tag após 10 segundos
  function mostrarProgresso() {
      // Obtenha o elemento onde a tag será inserida
      var container = document.getElementById('progresso-container');

      // Crie a tag que será inserida
      var link = document.createElement('a');
      link.href = "{% url 'Curso:verificar_progresso' aula.curso.id %}";
      link.className="btn btn-primary";
      link.textContent = "Meu Progresso";

      // Insira a tag no container
      container.appendChild(link);
  }

  // Aguarde 10 segundos antes de chamar a função
  setTimeout(mostrarProgresso, 10000); // 10000 milissegundos = 10 segundos
</script>


<style>

.form-inline .form-control {
        display: inline-block;
        width: 250px;
        vertical-align: middle;
    }

  .form-inline .btn {
  margin-left: 50px;
}
</style>

{% endblock %}