{% extends 'base-novo.html'%}
{% load static %}
{% block 'titulo'%}
Política Privacidade
{% endblock %}

{% block 'head' %}
{% endblock %}

 {% block 'body' %}
 <br>
 <div class="container-fluid">
    <div class="justify-content-center politica text-center">
        <br>
        <h1 class="text-center">Política Privacidade de Dados Pessoais e Coleta de Cookies</h1>

        Esta Política de Privacidade descreve como nós coletamos, usamos e compartilhamos informações sobre você quando você visita nosso site <a href="{% url 'Curso:home'  %}" target="_blank" rel="noopener noreferrer">Mundo Colorido Kids</a><br>
        <br>
        <span class="destaque">Coleta de Informações</span>
        <br>
        <br>
        <span class="destaque">Informações Pessoais</span>
        <br>
        Não coletamos informações pessoais identificáveis, como seu nome, endereço, número de telefone ou endereço de e-mail, a menos que você as forneça voluntariamente através de formulários ou interações diretas.
        <br>
        <br>
        <span class="destaque">Informações Não Pessoais</span>
        <br>
        Podemos coletar automaticamente informações não pessoais sobre você quando você interage com nosso site. Isso pode incluir o uso de cookies para melhorar sua experiência de navegação.
        <br>
        <br>
        <span class="destaque">Uso de Cookies</span>
        <br>
        Nosso site utiliza cookies para melhorar a experiência do usuário. Cookies são pequenos arquivos de texto armazenados no seu dispositivo. Eles ajudam a analisar o tráfego do site, lembrar suas preferências e melhorar a eficácia do marketing.
        Você pode optar por recusar o uso de cookies ajustando as configurações do seu navegador. No entanto, isso pode impactar a funcionalidade do site.
        <br>
        <br>
        <span class="destaque">Uso de Informações</span>
        <br>
        As informações coletadas são utilizadas para melhorar nosso site, personalizar a experiência do usuário, analisar tendências e administrar o site.
        <br>
        <br>
        <span class="destaque">Compartilhamento de Informações</span>
        <br>
        Não vendemos, trocamos ou transferimos informações pessoais identificáveis para terceiros sem seu consentimento. Isso não inclui parceiros confiáveis que nos auxiliam na operação do nosso site.
        <br>
        <br>
        <span class="destaque">Links para Sites de Terceiros</span>
        <br>
        Nosso site pode conter links para outros sites. Não somos responsáveis pelas práticas de privacidade desses sites e recomendamos que você revise suas políticas de privacidade.
        <br>
        <br>
        <span class="destaque">Alterações nesta Política de Privacidade</span>
        <br>
        Reservamos o direito de fazer alterações a esta política a qualquer momento. Recomendamos revisar periodicamente para estar ciente de quaisquer atualizações.
        <br>
        <br>
        <span class="destaque">Seus Direitos</span>
        <br>
        Você tem o direito de solicitar informações sobre os dados que temos sobre você, corrigir ou excluir essas informações.
        <br>
        <br>
        <span class="destaque">Contato</span>
        <br>
        Se você tiver alguma dúvida sobre esta Política de Privacidade, entre em contato conosco em comercial@ssconsultoriaetreinamentos.com.br
        <br>
        <br>
        <h3>Última atualização: 10/07/2024</h3>
        
    </div>
    <br>
 </div>

 {% endblock %}