{% extends 'base-novo.html'%}
{% load static %}
{% block 'titulo'%}
Transparência
{% endblock %}

{% block 'head' %}

 {% endblock %}

 {% block 'body' %}
 <br>
 <div class="container-fluid">
    <div class="justify-content-center politica text-center">
        <br>
        <span class="destaque"><h1 class="text-center">Transparência - SS Consultoria & Treinamentos Ltda</h1></span>
        <br>
        <br>
        Bem-vindo à nossa página de Transparência na SS Consultoria & Treinamentos Ltda. Estamos comprometidos em fornecer informações claras e abertas sobre como operamos e interagimos com você, nosso valioso cliente.
        <br>
        <br>
        <span class="destaque">Origem dos Conteúdos:</span>
        <br>
        <br>
        Nossos conteúdos são elaborados por uma equipe qualificada de especialistas em diversas áreas, incluindo saúde, segurança e treinamento profissional. Utilizamos também ferramentas de Inteligência Artificial (IA) para criar materiais didáticos envolventes e relevantes. Além disso, colaboramos com profissionais externos para garantir a máxima qualidade e precisão dos nossos conteúdos.
        <br>
        <br>
        <span class="destaque">Fonte das Imagens:</span>
        <br>
        <br>
        As imagens utilizadas em nosso site são provenientes de fontes de domínio público ou licenciadas para uso comercial, incluindo Inteligência Artificial (IA). Quando possível, creditamos as fontes originais das imagens. Caso você seja o detentor dos direitos de alguma imagem e sinta que ela foi usada indevidamente, por favor, entre em contato conosco para resolvermos a situação de maneira adequada.
        <br>
        <br>
        <span class="destaque">Afiliados e Publicidades:</span>
        <br>
        <br>
        Podemos receber compensação por recomendar produtos ou serviços por meio de links de afiliados. Isso ajuda a sustentar o funcionamento do nosso site e a oferecer conteúdo gratuito e de qualidade. As publicidades exibidas são cuidadosamente selecionadas para serem relevantes ao nosso público-alvo.
        <br>
        <br>
        <span class="destaque">Política de Privacidade:</span>
        <br>
        <br>
        Nossa política de privacidade está disponível em <a href="{% url 'Curso:politica' %}" target="_blank" rel="noopener noreferrer" style="color: blue;">link</a>. Detalhamos como coletamos, usamos e protegemos suas informações pessoais ao utilizar nosso site.
        <br>
        <br>
        <span class="destaque">Contato:</span>
        <br>
        Estamos aqui para ouvir você! Se tiver alguma dúvida, sugestão ou preocupação, entre em contato conosco. Envie um e-mail para comercial@ssconsultoriaetreinamentos.com.br Agradecemos por fazer parte da nossa comunidade na SS Consultoria & Treinamentos Ltda!
        <br>
        <br>
        <h3>Última atualização: 10/07/2024</h3>
    </div>
    <br>
 </div>

 {% endblock %}