{% extends 'base-novo.html'%}
{% load static %}
{% block 'title' %}
Transparência - Mundo Colorido Kids
{% endblock %}

{% block 'head' %}

 {% endblock %}

 {% block 'body' %}
 <br>
 <div class="container-fluid">
    <div class="justify-content-center politica text-center">
        <br>
        <span class="destaque"><h1 class="text-center">Transparência - Mundo Colorido Kids</h1></span>
        <br>
        <br>
        Bem-vindo à nossa página de Transparência no <a href="" target="_blank" rel="noopener noreferrer">Mundo Colorido Kids!</a> Estamos comprometidos em fornecer informações claras e abertas sobre como operamos e interagimos com você, nosso valioso visitante.
        <br>
        <br>
        <span class="destaque">Origem dos Artigos:</span>
        <br>
        <br>
        Nossos artigos são gerados pela nossa equipe qualificada no Mundo Colorido Kids, composta por especialistas em educação infantil, artistas gráficos e redatores. Utilizamos também ferramentas de Inteligência Artificial (IA) para criar conteúdo envolvente e relevante. Além disso, colaboramos com profissionais e especialistas para garantir a qualidade do nosso material.
        <br>
        <br>
        <span class="destaque">Fonte das Imagens:</span>
        <br>
        <br>
        As imagens utilizadas em nosso site geralmente são de domínio público ou licenciadas para uso comercial e Inteligência Artificial (IA). Quando possível, fornecemos créditos às fontes originais das imagens. Caso você seja o detentor dos direitos de alguma imagem e sinta que ela foi usada indevidamente, entre em contato conosco para resolvermos a situação.
        <br>
        <br>
        <span class="destaque">Afiliados e Publicidades:</span>
        <br>
        <br>
        Podemos receber compensação por recomendar produtos ou serviços por meio de links de afiliados. Isso ajuda a sustentar o funcionamento do site. As publicidades exibidas são cuidadosamente escolhidas para serem relevantes ao nosso público-alvo.
        <br>
        <br>
        <span class="destaque">Política de Privacidade:</span>
        <br>
        <br>
        Nossa política de privacidade está disponível em <a href="" target="_blank" rel="noopener noreferrer">link</a>. Detalhamos como coletamos, usamos e protegemos suas informações pessoais ao utilizar nosso site.
        <br>
        <br>
        <span class="destaque">Contato:</span>
        <br>
        Estamos aqui para ouvir você! Se tiver alguma dúvida, sugestão ou preocupação, entre em contato conosco envie um e-mail para santosgomesv@gmail.com.
        <br>
        Agradecemos por fazer parte da nossa comunidade no Mundo Colorido Kids!
        <br>
        Última atualização: 23/01/2024
    </div>
    <br>
 </div>

 {% endblock %}