{% extends 'base.html'%}

{% block 'titulo'%}
Area Aluno

{% endblock%}
{% block 'body' %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <main class="container text-center">
        <div class="container text-center">
        <h1>Area Aluno</h1>
        <div class="container text-center">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure recusandae eveniet aperiam cumque nulla! Voluptates omnis consequatur odio cumque necessitatibus mollitia, praesentium voluptas et ad quasi rem. Earum, culpa at!</p>
        </div>
        </div>
    </main>
</body>
</html>
{%endblock%}