{% extends 'base.html'%}

{% block 'titulo'%}
Cadastre-se
{%endblock%}

{% block 'body' %}
  {% if messages %}
  {% for message in messages %}
      <div class="alert {{message.tags}}">
          {{message}}
      </div>
  {% endfor %}
  {% endif %}
  <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md">
          <br>
          <h1>Cadastre-se</h1>
          <hr>
          <form method="POST" action="{% url 'Usuario:valida_cadastro'%}">{% csrf_token %}
              <label>Digite seu Login:</label>
              <input class="form-control" type="text" placeholder="login" name = "nome" required>
              <br>
              <label>Digite seu nome:</label>
              <input class="form-control" type="text" placeholder="nome" name = "first_name" required>
              <br>
              <label>Digite seu CPF:</label>
              <input class="form-control" type="text" data-mask="000.000.000-00" placeholder="CPF" name = "cpf" required>
              <br>
              <label>Digite seu Email:</label>
              <input class="form-control" type="text" placeholder="E-mail" name = "email" required>
              <br>
              <label>Digite seu senha:</label>
              <input class="form-control" type="password" placeholder="Senha" name = "senha" required>
              <br>
              <label>Digite novamente a senha:</label>
              <input class="form-control" type="password" placeholder="Senha" name = "confirm-password" required>
              <br>
              <input class="btn btn-success btn-lg" type="submit">
              <a href="{% url 'Usuario:login'%}" class="btn btn-info btn-lg">ir para Login</a>
          </form>
      </div>
      <div class="col-md-3">

      </div>
  </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
	<script src="https://harvesthq.github.io/chosen/chosen.jquery.js" type="text/javascript"></script>
{% endblock %}
