{% extends 'base-novo.html'%}
{% load static %} 
{% block 'titulo'%}
Lista Colaboradores
{% endblock%}
{% block 'body' %}

<div class="container mt-5">

    <div class="section-top-border">
        <h1 class="mb-4 text-center">Alunos e Progresso dos Cursos</h1>
        <div class="progress-table-wrap">
            <div class="progress-table">
                <div class="table-head">
                    <div class="serial">Nº</div>
                    <div class="country">Nome</div>   
                </div>
                {% for aluno_progresso in alunos_com_progresso %}
                <div class="table-row" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                    <div class="serial">{{ forloop.counter }}</div>
                    <div class="country">{{ aluno_progresso.aluno.first_name }} {{ aluno_progresso.aluno.cpf }}</div>
                    <div class="visit"></div>
                    <div class="percentage"></div>
                </div>
                <div id="collapse{{ forloop.counter }}" class="collapse">
                    {% for curso_progresso in aluno_progresso.progresso %}
                    <div class="table-row">
                        <div class="serial"></div>
                        <div class="country">{{ curso_progresso.curso.nome }}</div>
                        <div class="visit"></div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ curso_progresso.progresso }}%;" aria-valuenow="{{ curso_progresso.progresso }}" aria-valuemin="0" aria-valuemax="100">{{ curso_progresso.progresso }}%</div>
                            </div>
                        </div>
                        <div>
                            {% if curso_progresso.pode_emitir %}
                            <a href="{% url 'Curso:baixar_certificado' aluno_progresso.aluno.id curso_progresso.curso.id %}" class="btn btn-success btn-sm">Baixar Certificado</a>
                            {% else %}
                            <span class="badge badge-secondary">Certificado indisponível</span>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <br>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.table-row[data-toggle="collapse"]').forEach(row => {
            row.addEventListener('click', function() {
                const target = this.getAttribute('data-target');
                document.querySelector(target).classList.toggle('collapse');
            });
        });
    });
</script>

{% endblock%}