{% extends 'base-novo.html'%}
{% load static %}

{% block 'head' %}

{% endblock %}
<title>{% block 'title' %}
    Trocar senha
     {% endblock %}</title>
{% block 'body' %}
<div class="box text-center">
    <br>
<form action="{% url 'password_reset' %}" method="POST">{% csrf_token %}

    {{form}}
    <br>
    <input type="submit" class="btn text-center" value="Recuperar">
    {% if form.errors %}
        {{form.errors}}
    {% endif %}

   
</form>
<br>
</div>

<style>

.box {
position: relative;
padding-top: 120px;
z-index: 1;
}
</style>
{% endblock %}