{% extends 'base.html'%}

{% block 'titulo'%}
Home

{% endblock%}
{% block 'body' %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <main class="container text-center">
        <div class="container text-center">
        <h1></h1>
        <div class="container text-center">
            <p>Bem-vindo a
                SS Consultoria & Treinamentos ltda.
                Somos uma empresa especializada em consultoria e treinamentos, voltados a área de saúde e segurança pronta para oferecer suporte em diversas áreas e processos. </p>
        </div>
        </div>
    </main>
</body>
</html>
{%endblock%}